@charset "utf-8";
body{background-color: #003f62;}
.all_function_page{width: 1195px; height: 695px; margin: 0 auto; padding-top: 55px;}
.all_function_left_box{width: 187px; float: left}
.all_function_return_main{height: 25px; color: #fff; font-size: 14px; line-height: 25px;}
.all_function_return_main img{float: left; margin-right: 13px; cursor: pointer;}
.all_function_return_main span{cursor: pointer;}
.all_function_ul{width: 185px; height: 32px; margin-top: 38px;}
.all_function_ul li{width: 175px; height: 60px; background-color: #032032; margin-bottom: 13px; padding: 0px; cursor: pointer}
.all_function_ul li:hover{background-color: #096191}
.all_function_ul a{color: #fff}
.all_function_ul_text{float: left; line-height: 60px; margin-left: 14px; color: #fff; font-size: 14px;}
.all_function_right_box{float: left; margin-left: 136px;}
.all_function_right_btn_box{height: 30px; margin-top: 63px}
.all_function_right_btn{width: 90px; height: 30px; background-color: #032032; float: left; margin-right: 15px; text-align: center; line-height: 31px; color: #fff; font-size: 14px; cursor: pointer}
.all_function_right_btn a{color: #fff}
.all_function_right_btn:hover{background-color: #096191}
.all_function_block{width: 216px; height: 60px; float: left; display: block; margin-top: 23px;}
.all_function_block p{font-size: 14px; color: #fff; margin-top: 7px; margin-left: 8px; cursor: pointer}
.all_function_block p:first-child{margin-top: 10px;}
.all_function_block p:last-child{color: #007edf}
.all_function_block_box{margin-top: 45px; width: 865px; height: 523px}
.all_function_block_box ul{width: 865px; height: 475px}
.all_function_block_box div.all_function_block{margin-top: 23px;}
.all_function_block_box ul li:first-child div.all_function_block{margin-top: 0px;}
.all_function_result{margin-top: 45px; height: 523px}
.rightFuncBtn1 .allFunc{width: 234px; height: 60px; float: left}
.funcBtn{width: 60px; height: 60px; float: left; text-align: center; line-height: 60px; cursor: pointer}
.all_function_pop{position: fixed; height: 80%; z-index: 10000; top: 100px; left: 15%}
.all_function_pop_iframe{width: 1016px; height: 92%; background-color: #dcdcdc; padding: 4px; z-index: 10000}
.all_function_pop_title{width: 989px; height: 40px; text-align: left; background-color: #056490; cursor: move; padding-left: 25px; font-size: 14px; line-height: 40px; color: #fff; padding-right: 11px;}
.all_function_pop_title img{cursor: pointer; float: right; margin-left: 6px; margin-top: 4px;}
.all_function_turnpage_box{padding-top: 48px; padding-left: 246px; clear: both}
.all_function_turnpage{width: 28px; height: 28px; border-radius: 32px; float: left; cursor: pointer; text-align: center; margin-right: 14px; margin-left: 5px;}
.all_function_turnpage_center{width: 181px; margin: 0 auto}
.all_function_point{width: 10px; height: 10px; border-radius: 10px; float: left; background-color: #032032; cursor: pointer; margin-right: 9px; margin-top: 10px;}
.all_function_point_selected{width: 10px; height: 10px; border-radius: 10px; float: left; background-color: #096191; cursor: pointer; margin-right: 9px; margin-top: 10px;}
.all_function_add_desktop{width: 106px; height: 33px; background-color: #030303; line-height: 33px; text-align: center; color: #fff; font-size: 12px; position: absolute; cursor: pointer; z-index: 100}
.all_function_bubble_left{position: absolute; width: 47px; height: 30px; border-radius: 5px; color: #fff; text-align: center; line-height: 30px; font-size: 12px; background-color: #000; display: block; margin-top: -40px; display: none}
.all_function_bubble_left img.pos{position: absolute; margin-top: 30px; margin-left: -17px}
.all_function_bubble_right{position: absolute; width: 47px; height: 30px; border-radius: 5px; color: #fff; text-align: center; line-height: 30px; font-size: 12px; background-color: #000; display: block; margin-top: -40px; margin-left: 122px; display: none}
.all_function_bubble_right img.pos{position: absolute; margin-top: 30px; margin-left: -17px}
.all_function_search_box{height: 32px; line-height: 32px; margin-top: 38px;}
.all_function_search_box img{float: left; margin-left: 4px; cursor: pointer}
.all_function_search_box p{font-size: 12px; font-family: "宋体"; float: left; margin-left: 45px; color: #fff}
.all_function_input{width: 144px; height: 32px; float: left; color: #fff}
.all_function_input input{border: 1px solid #003f62; width: 134px; height: 30px; margin-top: 0px; float: left; padding-left: 8px; color: #6c6c6c; font-size: 14px;}
.all_function_blue{color: #007edf; margin-left: 7px; margin-right: 7px;}
/*个人中心*/
.personnal_picture{margin-top: 38px;}
.personnal_input_disabled{width: 60px; border: 1px solid #c7dbe6; background-color: #e3ebee; color: #06618e}
.personnal_input_update{width: 32px; border: 1px solid #518197; color: #fff; background-color: #026197; cursor: pointer; margin-left: -7px}
.personnal_input_save{width: 32px; border: 1px solid #518197; color: #fff; background-color: #b10505; cursor: pointer; margin-left: -7px}
.personnal_table{width: 578px}
.personnal_table tr td{border: 0px; background-color: #013451; border-bottom: 1px solid #335970; color: #fff; padding-left: 30px; width: 254px; line-height: 16px;}
.personnal_table{border: 1px solid #4f7b94}
.personnal_blue{color: #039ff4}
.personnal_table_box{margin-top: 62px; width: 846px; overflow-y: auto; max-height: 600px; position: absolute; overflow-x: hidden;}
.personnal_right_table{width: 828px; border: 0px; margin: 0px; margin-left: 1px; max-height: 478px; overflow: auto; clear: both;}
.personnal_right_table td{color: #fff; font-size: 12px; background-color: #013451; border: 1px solid #7fbfe2; font-weight: normal; line-height: 16px}
.personnal_right_table th{color: #0a6292; font-size: 12px; background-color: #e3ebed; border: 1px solid #7fbfe2; font-weight: normal; line-height: 16px}
.personnal_right_table tr td:first-child{text-align: center;}
.personnal_right_table tr td p img{margin-right: 6px;}
.personnal_right_table tr td p{color: #0295e5}
.personnal_right_table th.personnal_distribute{background-color: #b30608; color: #fff}
.personnal_right_table td{background-color: #012941}
.personnal_password{margin-top: 7px}
.personnal_password li{clear: both; padding-top: 13px;}
.personnal_password li div{float: left;}
.personnal_password li div input{width: 210px; height: 33px; margin-left: 12px; border: 1px solid #4e7a93; background-color: #013451}
.personnal_password_title{width: 60px; text-align: right; font-size: 12px; color: #04a0f5; line-height: 33px;}
.personnal_password_errer{width: auto; margin-left: 5px; font-size: 12px; color: red; line-height: 33px;}
.personnal_assign_box{width: 830px; height: 24px;}
.personnal_assign{width: 753px; height: 22px; float: left; border: 1px solid #7fbfe2; margin-bottom: 7px; background-color: #012941;}
.personnal_assign p{color: #fff; font-size: 12px; margin-left: 14px; float: left; margin-top: 3px;}
.personnal_assign_down{margin-left: 14px; float: left; margin-top: 7px; cursor: pointer;}
.personnal_assign_pop{width: 754px; max-height: 230px; overflow-y: auto; overflow-x: hidden; border: 1px solid #7fbfe2; position: absolute; background-color: #002337; z-index: 1000}
.personnal_assign_pop table{clear: both; border-top: 1px solid #7fbfe2; width: 100%; background-color: #002337; border-left: 0px; border-right: 0px}
.personnal_assign_pop table tr td{background-color: #002337; border-left: 0px;  border-right: 0px}
.personnal_assign_pop table tr td:first-child{text-align: center; color: #fff; width: 80px; border-right: 1px solid #7fbfe2}
.personnal_assign_pop table tr td select, .personnal_assign_pop table tr td option{background-color: #002337}
.personnal_assign_pop table tr td{padding: 3px 0px 3px 0px}
.personnal_assign_pop_title{font-size: 12px; color: #fff; float: left; margin-left: 11px; margin-top: 3px; margin-bottom: 5px;}
.personnal_assign_pop_input{height: 18px; margin-bottom: 0px; margin-left: 15px}
.personnal_assign_search{width: 71px; height: 24px; border: 1px solid #7fbfe2; color: #fff; font-size: 12px; text-align: center; background-color: #b30608; float: left; margin-left: 1px; line-height: 22px; cursor: pointer;}
.personnal_assign_distribute{width: 827px;}
.personnal_assign_button{width: 72px; margin-top: 8px;}
.personnal_assign_pop_poi{margin-top: -1px; margin-left: -1px}