@charset: 'utf-8';
body,img, input, p, ul, li, iframe, h2{margin: 0px; border: 0px; padding: 0px;}
h2{-webkit-margin-before: 0em; -webkit-margin-after: 0em;}
html,body{   
	-webkit-text-size-adjust:none;   
}  
body{overflow-x: hidden}
a{text-decoration: none}
li{list-style-type:none}
.display_n{display: none}
.news{width: 185px; margin-left: 158px; margin-top: 23px; float: left}
.newsfunc1{width: 175px; height: 50px; background-color: #951068; cursor: pointer; padding: 5px; line-height: 50px; color: #fff; font-size: 14px;}
.newsfunc6{width: 175px; height: 50px; background-color: #037db0; cursor: pointer; padding: 5px; line-height: 50px; color: #fff; font-size: 14px;}
.newsfunc2{width: 175px; height: 50px; background-color: #f99902; margin-top: 12px; cursor: pointer; padding: 5px; line-height: 50px; color: #fff; font-size: 14px;}
.newsfunc7{width: 175px; height: 50px; background-color: #05b0a8; margin-top: 12px; cursor: pointer; padding: 5px; line-height: 50px; color: #fff; font-size: 14px;}
.newsfunc3{width: 175px; height: 50px; background-color: #11a0dc; margin-top: 12px; cursor: pointer; padding: 5px; line-height: 50px; color: #fff; font-size: 14px;}
.newsfunc4{width: 175px; height: 50px; background-color: #3c7c19; margin-top: 12px; cursor: pointer; padding: 5px; line-height: 50px; color: #fff; font-size: 14px;}
.newsfunc5{width: 175px; height: 50px; background-color: #ee0d2e; margin-top: 12px; cursor: pointer; padding: 5px; line-height: 50px; color: #fff; font-size: 14px;}
.systembtn{width: 50px; height: 50px; background-color: #259dcf; text-align: center; line-height: 50px; float: left}
.systembtn img{margin-top: 7px;}
.gantan{width: 50px; height: 50px; background-color: #0ad8ce; text-align: center; line-height: 50px; float: left}
.gantan img{margin-top: 7px;}
.guangbobtn{width: 50px; height: 50px; background-color: #c8108a; text-align: center; line-height: 50px; float: left}
.guangbobtn img{margin-top: 7px;}
.newsfunc1 p{margin-left: 15px; display: block; float: left}
.newsfunc2 p{margin-left: 15px; display: block; float: left}
.newsfunc3 p{margin-left: 15px; display: block; float: left}
.newsfunc4 p{margin-left: 15px; display: block; float: left}
.newsfunc5 p{margin-left: 15px; display: block; float: left}
.newsfunc6 p{margin-left: 15px; display: block; float: left}
.newsfunc7 p{margin-left: 15px; display: block; float: left}
.fengcaibtn{width: 50px; height: 50px; background-color: #e37b00; text-align: center; line-height: 50px; float: left}
.fengcaibtn img{margin-top: 7px;}
.xinwenbtn{width: 50px; height: 50px; background-color: #0776a4; text-align: center; line-height: 50px; float: left}
.xinwenbtn img{margin-top: 7px;}
.biaozhibtn{width: 50px; height: 50px; background-color: #42a80b; text-align: center; line-height: 50px; float: left}
.biaozhibtn img{margin-top: 3px;}
.shengribtn{width: 50px; height: 50px; background-color: #fb3f5b; text-align: center; line-height: 50px; float: left}
.shengribtn img{margin-top: 7px;}
.newscontrolbtn{width: 166px; height: 42px; background-color: #030303; position: fixed; bottom: 41px}
.newscontrolbtndiv{width: 166px; margin: 0 auto}
.newscontrolbtn img{display: block; float: left; margin-left: 15px; margin-top: 6px; cursor: pointer}
.newsqipao2{position: absolute; width: 67px; height: 30px; border-radius: 5px; color: #fff; text-align: center; line-height: 30px; font-size: 12px; background-color: #000; top: -40px; display: none}
.newsqipao2 img.pos{position: absolute; margin-top: 0px; margin-left: 28px}
.newleftqipao{position: absolute; width: 47px; height: 30px; border-radius: 5px; color: #fff; text-align: center; line-height: 30px; font-size: 12px; background-color: #000; top: -40px; left: 68px; display: none}
.newleftqipao img.pos{position: absolute; margin-top: 0px; margin-left: 19px}
.newrightqipao{position: absolute; width: 47px; height: 30px; border-radius: 5px; color: #fff; text-align: center; line-height: 30px; font-size: 12px; background-color: #000; top: -40px; left: 111px; display: none}
.newrightqipao img.pos{position: absolute; margin-top: 0px; margin-left: 19px}
img.newrightpoi{margin-left: 12px}
.whitediv{width: 100%; height: 100%;}
.line{width: 1px; height: 42px; float: left; border-left: 1px solid #096191; margin-left: 15px;}
.btmblack{width: 100%; height: 40px; position: fixed; bottom: 0px; background-color: #000; text-align: center}
.btmblack img{margin-left: 2px; cursor: pointer}
.text{float: left; margin-top: 23px; margin-left: 84px}
.backbtn{height: 39px; margin-top: 35px; margin-left: 40px;}
.newleft{cursor: pointer}
.author{margin-top: 10px; font-family:SimSun; font-size: 14px; color: #030303; white-space: 7px;}
.text ul li p{margin-top: 8px; font-size: 14px;}
.author span{margin-left: 8px;}
.text ul li p.readblack{margin-top: 25px; font-family: SimSun; line-height: 14px; color: #010101;}
.readtag{font-family: SimSun; font-size: 12px; color: #8e8e8e; margin-right: 7px;}
.unreadtag{font-family: SimSun; font-size: 12px; color: #3c7c19; margin-right: 7px;}
.title{font-weight: bold; font-size: 14px;}
.redtitle{color: #b3010e}
.blacktitle{color: #010101}
.text ul li p.readblack2{margin-top: 33px; font-family: SimSun; line-height: 14px; color: #010101;}
.text ul li p.readblack3{font-family: SimSun; line-height: 14px; margin-top: 22px}
.yuanjiao{clear: both; margin-left: 426px; padding-top: 27px; margin-bottom: 204px;}
.yuanjiao img{cursor: pointer}
.fengcai{font-family: "微软雅黑"; font-size: 20px; color: #e37b00; font-weight: bold}
.fengcaizuozhe{font-size: 14px; margin-top: 8px; white-space: 7px}
.fengcaitime{margin-left: 10px;}
.nvrenjie{margin-top: 12px; float: left}
.lineseq{width: 1px; height: 567px; float: left; background-color: #f1f1f1; margin-top: 12px; margin-left: 23px; margin-right: 23px;}
.twopic{float: left; margin-top: 12px; width: 400px}
.yuanjiao1{margin-top: 20px; cursor: pointer}
#block3 li img{float: left; margin-bottom: 20px}
#block3 ul .block3li h2{zoom: 1; font-size: 19px; font-family: "微软雅黑"; margin-left: 11px; color: #2888b0; margin-top: -3px; display: block}
#block3 ul .block3li p{margin-left: 10px; font-size: 12px; color: #333; margin-top: 13px; line-height: 22px}
.fl_l{float: left}
#block3 ul .block3li p.date{color: #999; margin-top: 8px;}
#block3 ul .block3li1 p.date{color: #999; margin-top: 8px; margin-bottom: 20px}
.fromcolor{color: #0776a4}
.greyline{width: 100%; height: 1px; background-color: #e9e9e9; clear: both;}
.block3li1{margin-top: 27px}
#block3 ul .block3li1 h2{display:inline-block; display: inline; zoom: 1; font-size: 19px; font-family: "微软雅黑"; color: #2888b0;}
#block3 ul .block3li1 p{font-size: 12px; color: #333; margin-top: 13px; line-height: 22px}
#block3 ul li{width: 660px}
.margintop_26{margin-top: 26px}
.divborder{width: 510px; height: 260px; background-color: #fff; border: 1px solid #dfdfdf}
#block4 ul{margin-top: 18px;}
#block4 ul li{margin-top: 2px; clear: both}
.place{width: 41px; height: 27px; background-color: #3c7c19; line-height: 27px; text-align: center; color: #fff; font-size: 12px; float: left}
.kehu{float: left; margin-left: 13px; line-height: 28px; border-bottom: 1px solid #f2f2f2; width: 407px; font-size: 12px}
.org{color: #ff7b00; margin-left: 9px; width: 148px; float: left}
.birth1{width: 203px; color: #fff; font-size: 14px; float: left; margin-left: 320px; margin-top: 153px; z-index: 100; position: relative}
.birth1 p{line-height: 28px}
.birthplace{width: 42px; float: left; margin-right: 20px}
.depart{width: 85px; float: left; margin-right: 13px;}
.birdiv{width: 736px; margin: 0 auto}
.toy{position: absolute; z-index: -10000; display: block}
.redbtn{width: 8px; height: 8px; border-radius: 8px; background-color: #ab041d; cursor: pointer; float: left; margin-right: 10px}
.redbtndiv{margin-left: 66px; margin-top: 20px;}
div.anocolor{background-color: #fb3f5b}
.airal{font-family: Arial}
.birthday{float: left}
.newuser{color: #027caf; font-weight: bold}
.biaoti{color: #951068}
.addcls{background-color: #04b0a8; padding: 2px; border : 3px solid #09d7cd}
.addimgbg{background-color: #09d7cd}