@charset "utf-8";
table{border-collapse: collapse}
table td input{width: 60px; border: 0px; outline: none; text-align: center;}
table td, th{border-right: 1px solid #e0f2fc; border-bottom: 1px solid #e0f2fc; padding-left: 15px; padding-right: 15px; height: 40px; text-align: center; font-size: 12px}
table th{padding-top: 1px; padding-bottom: 1px; background: #f1f9fc}
table tr{border-top: 1px solid #e0f2fc; border-left: 1px solid #e0f2fc}
.heg_10{height: 10px}