@charset "utf-8";
body{background-color: #fff}
.login_logo{margin: 0 auto; width: 199px;}
.login_text_poi{width: 475px; margin: 0 auto; margin-top: 266px}
.login_text_poi input[type = text]{width: 120px; height: 38px; float: left; border: 1px solid #cee0e9; padding-left: 15px; color: #999; font-size: 12px; font-family: SimSun}
.login_text_poi input[type = password]{width: 120px; height: 38px; float: left; border: 1px solid #cee0e9; padding-left: 15px; color: #999; font-size: 12px;}
.login_identify_text{width: 80px; height: 40px; background-color: #328f08; float: left; text-align: center; line-height: 40px; color: #fff; font-size: 12px; margin-left: 10px; cursor: pointer}
.login_submit{width: 80px; height: 40px; background-color: #0a6292; float: left; text-align: center; line-height: 40px; color: #fff; font-size: 12px; margin-left: 10px; cursor: pointer; font-family: SimSun}
.login_reminder{font-size: 12px; color: #999; text-align: right; line-height: 47px; clear: both;}
.login_reminder_red{color: #d1212b}
.login_return{color: #0a6292; font-size: 12px; margin-left: 6px}
.login_link{float: right; margin-right: 12px;}
.login_text_center{width: 227px; margin: 0px auto}