{% extends 'base.html' %}
{#{% load staticfiles %}#}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>可编辑可下拉</title>
    <script src="/static/script/jquery-1.10.2.js"></script>
    <script src="/static/script/jquery.editable-select.js" ></script>
    <link  rel="stylesheet"  href="/static/css/jquery.editable-select.css"/>
    <style></style>
    <script></script>>
    <script>
        $(document).ready(function() {
            //alert(123);
            $("#pro_select").change(function(){
                var checkText=$("#pro_select").find("option:selected").text();  //获取Select选择的Text
                $("#pro_input").val(checkText);  //将select选择的值写入input框
            });
        });
</script>
</head>
{% block content %}
<body>
<form action="" method="post" enctype="multipart/form-data">
{#    <label><input name="ope_type" type="radio" value="1" />新增 </label>#}
{#    <label><input name="ope_type" type="radio" value="2" />历史 </label>#}
    <p>设置测试项目名称：
            <input type="text" name="pro_name" id="pro_input" value="{{ pro_name }}" size="10"/>
            <select name="pro_id" id="pro_select">
             <option value="0">查看已有项目名称</option>
                {% for p in pm %}
                    <option value="{{ p.id }}">{{ p.p_name }}</option>
                {% endfor %}
            <script>
                $(function(){
                     $("#pro_select").change(function () {
                        var select_id = $(this).val();
                         if(select_id != 0){
                                //alert($(this).find("option:selected").text());
                                $("#pro_input").val($(this).find("option:selected").text());
                            }else{

                             $("#pro_input").val('')
                         }
                     })
                    }
                )
            </script>
            </select>

        <label style="color: gray">说明：填写项目名称后会自动创建项目目录</label>
    </p>
    <p>设置接口名称：
            <input type="text" name="interface_name" id="interface_input" value="{{ pro_name }}" size="10"/>
            <select name="interface_id" id="interface_select">
             <option value="0">查看已有接口名称</option>
                {% for i in im %}
                    <option value="{{ i.id }}">{{ i.i_name }}</option>
                {% endfor %}
                <script>
                $(function(){
                     $("#interface_select").change(function () {
                        var select_id = $(this).val();
                         if(select_id != 0){
                                //alert($(this).find("option:selected").text());
                                $("#interface_input").val($(this).find("option:selected").text());
                            }else{
                             $("#interface_input").val('')
                         }
                     })
                    }
                )
            </script>
            </select>

        <label style="color: gray">说明：填写接口名称后会自动创建接口目录,建议使用英文缩写，便于自动创建目录</label>
    </p>
    <p>测试用例上传：<input type="file" name="case_file" value="{{ caseFile }}"/></p>
    <p>配置文件上传：<input type="file" name="config_file" value="{{ configFile }}"/></p>
    <p>图片文件上传：<input type="file" name="image_file" value="{{ imageFile }}"/></p>
    <p>需求文档上传：<input type="file" name="needs_file" value="{{ needsFile }}"/></p>

    <p><input type="submit" value="执行测试"/></p>
    <p>
        {% if show_path %}
            <a href="{{ show_path }}" target="_blank">点击查看测试报告</a>
        {% endif %}
        {% if file_down %}
            <a href="{{ file_down }}" target="_blank">点击下载测试报告</a>
        {% endif %}
    </p>
    <p>查询日期：
        <input type="text" value="" id="date"/>
        <input type="hidden" value="{{ report_path }}" id="report_path"/>
        <input type="button" value="查询" onclick="q()"/>

    </p>
    <p>
        {% if pro_rep_all_path %}
            <a href="{{ file_down }}" target="_blank">点击查看用例/配置文件/测试报告</a></p>
            <table border="1">
            <tr>
                <th>文件名称</th>
                <th>点击查看</th>
                <th>点击下载</th>
                <th>点击发送至邮箱</th>
            </tr>
            {% for i in  pro_rep_all_path %}
                <tr>
                    <td>{{ i.0 }}</td>
                    <td><a href="{{ i.1 }}" target="_blank">点击查看</a></td>
                    <td><a href="{{ i.2 }}" target="_blank">点击下载</a></td>
                    <td></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </p>
</form>
</body>
{% endblock content %}
</html>